
.comments {
    position: relative;
    
    &__triangles {
        
        position: absolute;
        bottom: 100%;
        right: 0;
        left: 0;
        .triangle {
            width: 100%;
        }
    }


}
