.about {
    display: flex;
    justify-content: center;
    
    &__inner {
        display: flex;
        padding-bottom: 140px;
        max-width: 1008px;
    }

    &__user-data {
        flex: 1;
    }

    &__content {
        flex: 4;
    }
}

