.works-desc__tags {
    padding-bottom: 48px;
}

.tags__list {
    display: flex;
}

.tags__item {
    margin-right: 14px;
    position: relative;

    &:before {
        width: 45px;
        height: 65px;
        color: #f3f5f9;
        border-radius: 30%;
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
    }
    &:last-child {
        margin-right: 0;
    }
}

