.works__slider {
    display: flex;
    position: relative;
    

}

.works-slider__preview {

}

.works-slider__thumbs {
    position: absolute;
    top: 141px;
    left: 805px;
    font-size: 0;
    
    

}

.thumbs-item__button {
    padding: 0;
}