.works__number {
    position: absolute;
    right: -160px;
    bottom: 51px;
    z-index: -10;
}

.bignumber {
    font-size: 400px;
    color: #e6e6e6;
    font-family: "Open Sans";
    font-weight: 800;
}