.works__slider-btns {
    position: absolute;
    bottom: -56px;
    right: 0;
  
}

.controls__list {
    display: flex;
}

.controls__item {
    display: flex;
}

// .controls__btns {
//     width: 51px;
//     height: 51px;
// }

.controls__icon {
    width: 51px;
    height: 51px;
}