.works {
    position: relative;

    &__title {
        margin-bottom: 100px;
    }
    
    .works__content {
        display: flex;
        padding-bottom: 150px;
    }

    &__triangles {
        transform: rotate(180deg);;
        position: absolute;
        top: 100%;
        right: 0;
        left: 0;
    }

}