.works-desc__tags {
    padding-bottom: 48px;
}

.tags__list {
    display: flex;
}

.tags__block {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 14px;
    padding: 12px 22px;
    // width: 84px;
    // height: 46px;
    background-color: #f3f5f9;
    border-radius: 22px;
}    
.tags__item {
    color: #464d62;
    font-size: 15px;
    font-weight: 600;
    opacity: 0.7;
    

    &:last-child {
        margin-right: 0px;
    }
}

